<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/01fa215b04.js" crossorigin="anonymous"></script>
</head>
<body>
     <header class="main-header">
        <div class = "main-header-top-bar">
            
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" width="350px" class = "logo">
            <div>
                <h2 class = "buscador"> Buscar productos, marcas </h2>
                <div class="lupa"> <i class="fa fa-search"></i> </div> 
            </div>   
            <div> 
                <h2 class = "copy-header" >
                    <i class="fas fa-hand-holding-usd"></i> 
                    Compra en cuotas y sin tarjeta de credito 
                </h2>
            </div>  
        </div>
            <div>
                <a href="#" class = "hamburguer">
                <i class="fa fa-bars burger"></i> 
                </a>
            </div>
        <nav class="nav1">
            <ul class = "left-nav-bar">
                <li>
                    <a href="#Ofertas">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">ayuda</a>
                </li>
            </ul>

            <ul class = "right-nav-bar">
                <li>
                    <a href="#">Crea tu cuenta <i class="fas fa-credit-card"></i></a>
                </li>
                <li>
                    <a href="#">Ingresá <i class="fas fa-gift"></i></a>
                </li>
                <li>
                    <a href="#">Mis Compras <i class="fas fa-user-shield"></i> </a>
                </li>
            </ul>
        </nav>
          
    </header>  
    <div> 
        <img class = "banner" src="/images/img-home-banner.jpg" alt="banner">
    </div>    
    <main>
        <h3> Basado en tu ultima visita</h3>
        <section>
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="prod" width="350px">
                    <div class="articulo-info">
                        <i class="fas fa-truck"> </i> 
                        <p class="precio">$6.770</p> 
                        <p class="descuento"> 40% OFF </p>
                        <h4 class="desc-prod">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="prod" width="350px">
                    <div class="articulo-info">
                        <i class="fas fa-truck"> </i> 
                        <p class="precio">$230.000</p>
                        <p class = "descuento">20% OFF </p>
                        <h4 class="desc-prod">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="articulo">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="prod" width="350px">
                        <div class="articulo-info">
                            <i class="fas fa-truck"> </i> 
                            <p class="precio">$70.500</p>
                            <p class = "descuento">10% OFF </p>
                            <h4 class="desc-prod">Samsung Galaxy S10</h4>
                        </div>
                </article>
                <article class="articulo">
                        <img src="/images/img-tv-samsung-smart.jpg" alt="prod" width="350px">
                        <div class="articulo-info">
                            <i class="fas fa-truck"> </i> 
                            <p class="precio">$23.500</p>
                            <p class = "descuento">5% OFF </p>
                            <h4 class="desc-prod">SmartTv Samsung 43"</h4>
                        </div>
                </article>             
        </section> 
        <h3>Ofertas</h3>
        <section>
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="prod" width="350px">
                    <div class="articulo-info">
                        <i class="fas fa-truck"> </i> 
                        <p class="precio">$6.770</p>
                        <p class = "descuento"> 40% OFF</p>
                        <h4 class="desc-prod">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="prod" width="350px">
                    <div class="articulo-info">
                        <i class="fas fa-truck"> </i> 
                        <p class="precio">$230.000</p>
                        <p class = "descuento">20% OFF </p>
                        <h4 class="desc-prod">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="prod" width="350px">
                    <div class="articulo-info">
                        <i class="fas fa-truck"> </i> 
                        <p class="precio">$70.500</p>
                        <p class = "descuento">10% OFF </p>
                        <h4 class="desc-prod">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="prod" width="350px">
                    <div class="articulo-info">
                        <i class="fas fa-truck"> </i> 
                        <p class="precio">$23.500</p>
                        <p class = "descuento"> 5% OFF </p>
                        <h4 class="desc-prod">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div> 
        </section>
    </main>
        <footer>
            <section>
                <div>                  
                    <i class="fas fa-credit-card" id="footer-icon"></i> 
                    <h4 class="titulo-footer"> Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>                 
                </div> 
                <div>
                    <i class="fas fa-gift" id="footer-icon"></i> 
                    <h4 class="titulo-footer">Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div>
                    <i class="fas fa-user-shield" id="footer-icon"></i>
                    <h4 class="titulo-footer">Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </div>                                           
                 
            </section>
            <div>
                <p class="copyright" >Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
            </div>  
        </footer>   
</body>
</html>